<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1>Restaurants</h1>
  <hr>
  <div id="restaurants">
    <% @restaurants.each do |restaurant| %>
        <div><%= restaurant.name %></div>
        <div><%= restaurant.address %></div>
        <div><%= restaurant.category %></div>
        <hr>
    <% end %>
  </div>
</div>
